
body {
  
}

main {
  width: 920px;
  margin: auto;  
  margin-top: 50px;
}

img {
  border: solid black 1px;
  width: 300px;
  height: 300px;
 
}

button {
  display: block;
  margin: auto;
  
}

ul {
  display: block;
  margin: auto; 
}

#canvas {
  background-color: floralwhite;
}